.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="SimSun"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="SimSun"]::before {
    content: "宋体";
    font-family: "SimSun";
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="SimHei"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="SimHei"]::before {
    content: "黑体";
    font-family: "SimHei";
}
.ql-snow
    .ql-picker.ql-font
    .ql-picker-label[data-value="Microsoft-YaHei"]::before,
.ql-snow
    .ql-picker.ql-font
    .ql-picker-item[data-value="Microsoft-YaHei"]::before {
    content: "微软雅黑";
    font-family: "Microsoft YaHei";
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="KaiTi"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="KaiTi"]::before {
    content: "楷体";
    font-family: "KaiTi";
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="FangSong"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="FangSong"]::before {
    content: "仿宋";
    font-family: "FangSong";
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Arial"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Arial"]::before {
    content: "Arial";
    font-family: "Arial";
}
.ql-snow
    .ql-picker.ql-font
    .ql-picker-label[data-value="Times-New-Roman"]::before,
.ql-snow
    .ql-picker.ql-font
    .ql-picker-item[data-value="Times-New-Roman"]::before {
    content: "Times New Roman";
    font-family: "Times New Roman";
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="sans-serif"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="sans-serif"]::before {
    content: "sans-serif";
    font-family: "sans-serif";
}

.ql-font-SimSun {
    font-family: "SimSun";
}
.ql-font-SimHei {
    font-family: "SimHei";
}
.ql-font-Microsoft-YaHei {
    font-family: "Microsoft YaHei";
}
.ql-font-KaiTi {
    font-family: "KaiTi";
}
.ql-font-FangSong {
    font-family: "FangSong";
}
.ql-font-Arial {
    font-family: "Arial";
}
.ql-font-Times-New-Roman {
    font-family: "Times New Roman";
}
.ql-font-sans-serif {
    font-family: "sans-serif";
}


.ql-lineHeight .ql-picker-label {
    left: 50px;
    top: -25px;
}
.ql-lineHeight .ql-picker-options {
    left: 50px;
}

.ql-lineHeight-0-5 {
    line-height: 0.5;
}

.ql-lineHeight-0-75 {
    line-height: 0.75;
}
.ql-lineHeight-1 {
    line-height: 1;
}

.ql-lineHeight-1-5 {
    line-height: 1.5;
}
.ql-lineHeight-1-75 {
    line-height: 1.75;
}

.ql-lineHeight-2 {
    line-height: 2;
}

.ql-picker.ql-lineHeight .ql-picker-label[data-value="1-5"]::before,
.ql-picker.ql-lineHeight .ql-picker-item[data-value="1-5"]::before {
    content: "1.5";
}
.ql-picker.ql-lineHeight .ql-picker-label[data-value="1-75"]::before,
.ql-picker.ql-lineHeight .ql-picker-item[data-value="1-75"]::before {
    content: "1.75";
}
.ql-picker.ql-lineHeight .ql-picker-label[data-value="0-5"]::before,
.ql-picker.ql-lineHeight .ql-picker-item[data-value="0-5"]::before {
    content: "0.5";
}
.ql-picker.ql-lineHeight .ql-picker-label[data-value="2"]::before,
.ql-picker.ql-lineHeight .ql-picker-item[data-value="2"]::before {
    content: "2";
}
.ql-picker.ql-lineHeight .ql-picker-label[data-value="1"]::before,
.ql-picker.ql-lineHeight .ql-picker-item[data-value="1"]::before {
    content: "1";
}
.ql-picker.ql-lineHeight .ql-picker-label[data-value="0-75"]::before,
.ql-picker.ql-lineHeight .ql-picker-item[data-value="0-75"]::before {
    content: "0.75";
}